Checks: >
  -*,
  clang-diagnostic-*,
  -clang-diagnostic-unused-command-line-argument,
  performance-*,
  portability-*,
  -portability-simd-intrinsics,
  hicpp-exception-baseclass,
  misc-const-correctness,
  misc-include-cleaner,
  readability-isolate-declaration,
  readability-use-std-min-max,
  modernize-type-traits,
  modernize-use-nodiscard,
  modernize-use-bool-literals,
  modernize-use-using,
  modernize-use-starts-ends-with,
  modernize-use-constraints,
  modernize-use-nullptr,
  modernize-macro-to-enum,
  modernize-use-emplace,
  modernize-use-designated-initializers,
  modernize-use-ranges,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-avoid-c-arrays

HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: file
WarningsAsErrors: ''
CheckOptions:
  - key: misc-const-correctness.WarnPointersAsValues
    value: true
  - key: misc-const-correctness.TransformPointersAsValues
    value: true
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'bits/getopt_core.h'
