Checks: >
  -*,
  clang-diagnostic-*,
  -clang-diagnostic-unused-command-line-argument,
  performance-*,
  portability-*,
  -portability-simd-intrinsics,
  hicpp-exception-baseclass,
  misc-const-correctness,
  misc-include-cleaner,
  readability-isolate-declaration,
  readability-avoid-return-with-void-value,
  readability-redundant-string-cstr,
  readability-suspicious-call-argument,
  readability-make-member-function-const,
  readability-delete-null-pointer,
  readability-use-std-min-max,
  readability-simplify-boolean-expr,
  readability-use-anyofallof,
  readability-qualified-auto,
  readability-container-size-empty,
  readability-avoid-const-params-in-decls,
  readability-redundant-access-specifiers,
  readability-uppercase-literal-suffix,
  readability-container-contains,
  readability-duplicate-include,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-use-anyofallof,
  modernize-*,
  -modernize-return-braced-init-list,
  -modernize-use-default-member-init,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-avoid-c-arrays

HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: file
WarningsAsErrors: ''
CheckOptions:
  - key: misc-const-correctness.WarnPointersAsValues
    value: true
  - key: misc-const-correctness.TransformPointersAsValues
    value: true
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'bits/getopt_core.h'
