# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a

# Executables
*.x

# Editor temp files
*.swp

# Temporary files
tmp.*
TMP.*
*.tmp
*.TMP

tags
compile_commands.json
.cache/
__pycache__

# files from suffix array construction
*.prj
*.lcp
*.ll2
*.ll4
*.suf
*.tis
*.isa
*.bsf
