# Sources
*.cpp   text diff=cpp
*.hpp   text diff=cpp

# Scripts
*.sh    text eol=lf
*.py    text diff=python

# Text files to be normalized by git
.gitattributes text
.gitignore     text
*.md           text diff=markdown
*.yml          text
Makefile       text
*.txt          text
.clang-format  text

# Genome Data Files
# These are text files, but should never be modified by git.
*.fasta -text
*.fastq -text
*.fna   -text
*.fsa   -text
*.tsv   -text
